<div class="flex justify-center items-center">
    <div class="w-50">
        <div class="mb-3">
            <label for="inputTexto">Escribe algo</label>
            <input class="bg-blue-300" type="text" name="inputTexto" id="inputTexto" (input)="actualizarTexto($event)">
        </div>
        <div class="mb-3">
            <label for="replicarTexto">Texto replicado:</label>
            <input class="bg-blue-300" type="text" id="replicarTexto" [value]="texto" readonly>
        </div>
    </div>
</div>